doctype html
html(lang='pt-br')
  head
    title Fastdone Starter Kit
    meta(charset='UTF-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/css/main.css')
  body
    section.gl
      header.main_header         
      section.main_con
        block content
      footer.main_footer
    script(src='assets/js/main.js')  