//RESET
*
 margin 0
 padding 0
 outline none
 text-rendering optimizeLegibility
 -webkit-font-smoothing antialiased
*,*:before,*:after
 -webkit-box-sizing border-box
 -moz-box-sizing border-box 
 box-sizing border-box 
header,nav,footer,section,article,aside
 display block
img
 border none
p,span,label,td,li,dt,dd,.checkbox
 color color_ui1_font_pattern1
 font 1em/1.3em font_pattern1
.cl,.row
 *zoom: 1
.cl:before,.row:before,.cl:after,.row:after
 content: "";display: table;
.cl:after,.row:after
 clear: both;  
html,body
 height 100%
 -webkit-tap-highlight-color rgba(0,0,0,0)
body
 background bg_ui1_patter2
 font-family font_pattern1
 font-size 14px
 width 100%