//Font
font_pattern1=ubuntu-regular
font_pattern2=ubuntu-bold
//background
bg_ui1_patter1=#2f2f2a
//Color Fonts
color_ui1_font_pattern1=#000000
color_ui1_font_pattern2=#ffffff
//Border 
color_ui1_border_pattern1=#98a3a3
//Links 
color_ui1_links1=#3498DB
//Houver tr
bg_ui1_hover_tr1=#ECF0F1
