$pontos = 0px 0px 15px 3px
$seta = 0px -3px 11px 7px
$seta_avancar = 0px -10px 5px 9px
$barra_cinza = 0px -19px 6px 10px
$barra_azul = 0px -29px 6px 10px
$email = 0px -39px 13px 11px
$telefone = 0px -50px 15px 13px
$casa = 0px -63px 13px 13px
$casa_cinza = 0px -76px 13px 13px
$triangulo_azul = 0px -89px 18px 18px
$sair = 0px -107px 24px 24px
$pergunta1 = 0px -131px 24px 24px
$pergunta2 = 0px -155px 25px 24px
$mais_cinza = 0px -179px 27px 27px
$mais_amarelo = 0px -206px 27px 27px
$mais_azul = 0px -233px 27px 27px
$seta_prev = 0px -260px 23px 40px
$seta_next = 0px -300px 24px 41px
$baloes = 0px -341px 51px 45px
$calendario = 0px -386px 55px 53px
$localizacao = 0px -439px 38px 56px
$download = 0px -495px 61px 67px
$agenda = 0px -562px 68px 70px
$enquete = 0px -632px 75px 75px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.ic
  background-image url('../img/img-sprites.png.png')

